.card{
    width:400px;
    /* height: 400px; */
    float: left;
    margin-left: 100px;

}

.cards{
    float: right;
    margin-right: 400px;
    margin-top: 10px; 
}

#submitBtn{
    float: right;
    background-color: rgb(12, 96, 51);
    color: white;
    margin-top: 90px;
}

img{
    width: 15px;
    height: 15px;
}

#Confirm{
    width:110px;
}

  #Name1{
    width: 100px;
  }
  #Name2{
    width: 100px;
  }

@media screen and (min-width: 600px) and (max-width: 900px)
{
   .cards{
    background-color: aqua;
    margin-left: 100px;
    float: none;
   } 

   #Confirm{
    width: 110px;
}

  #Name1{
    width: 70px;
  }
  #Name2{
    width: 70px;
  }

}

