*{
    margin: 0;
    padding: 0;
}

h3 {
    width: 50px;
    color: white;
    padding: 7px;
    
}

h3:hover {
    color: chartreuse;
}

ul {
    top: 0;
    height: 100%;
    width: 70px;
    list-style: none;
    background-color: darkgray;
    float: left;
    overflow: hidden;
    transition: 1s;
    position: fixed;
    padding: 0;
    color: white;
}

li {
    width: 250px;
}

li:hover {
    background-color: rgb(32, 124, 186);
    transition: 1s;
}

img {
    float: none;
    width: 40px;
    height: 40px;
    margin: 15px;
    vertical-align: middle;
    /*text-align: center;*/

}

img:hover {
    filter: grayscale(100%);
}

ul:hover {
    width: 200px;
    background: rgb(84, 84, 84);
    transition: 1s;
    color: rgb(5, 31, 42);
}

.text {
    margin-left: 10%;
    width: 85%;
    text-align: justify;
}

body {
    background-color: rgb(192, 192, 180);
}
