table {
    margin-right: 30%;
    text-align: center;
    width: 1000px;
    height: 1000px;
    border-collapse: collapse;
	border-spacing: 0;
	border: 0;
    padding: 0;
	margin: 0;
}

th {background: lightblue; /* Цвет фона строки заголовка */
    position: sticky;
    top: 0px;
}

td:nth-child(1) {background-color: rgb(76, 177, 211);
    position: sticky;
    left: 0px;
}

tr:nth-child(2n) {background-color: lightgray;}